In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from google.oauth2 import service_account
from google.cloud import bigquery

from datetime import timedelta

import ipdb

key_path = "/home/clementine/code/Clementinelalande/gcp/marbotic-4221eb142ed6.json"

credentials = service_account.Credentials.from_service_account_file(key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"])

# Uploading all 3 tables related to users in BQ

In [2]:
def extract_users():
    # Construct a BigQuery client object.
    key_path = "/home/clementine/code/Clementinelalande/gcp/marbotic-4221eb142ed6.json"
    

    credentials = service_account.Credentials.from_service_account_file(
    key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],)
    
    client = bigquery.Client(project="marbotic", credentials=credentials)

    query = """
        SELECT *
        FROM `marbotic.marbotic_dataset.user_properties`
    """

    query_job = client.query(query)  # Make an API request.
    results=query_job.result().to_dataframe() # Waits for job to complete.

    return pd.DataFrame(results)

In [4]:
def extract_user_id():
    # Construct a BigQuery client object.
    key_path = "/home/clementine/code/Clementinelalande/gcp/marbotic-4221eb142ed6.json"
    

    credentials = service_account.Credentials.from_service_account_file(
    key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],)
    
    client = bigquery.Client(project="marbotic", credentials=credentials)

    query = """
        SELECT *
        FROM `marbotic.marbotic_dataset.user_id`
    """

    query_job = client.query(query)  # Make an API request.
    results=query_job.result().to_dataframe() # Waits for job to complete.

    return pd.DataFrame(results)

In [8]:
def extract_user_metrics():
    # Construct a BigQuery client object.
    key_path = "/home/clementine/code/Clementinelalande/gcp/marbotic-4221eb142ed6.json"
    

    credentials = service_account.Credentials.from_service_account_file(
    key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],)
    
    client = bigquery.Client(project="marbotic", credentials=credentials)

    query = """
        SELECT *
        FROM `marbotic.marbotic_dataset.users_metrics`
        
    """

    query_job = client.query(query)  # Make an API request.
    results=query_job.result().to_dataframe() # Waits for job to complete.

    return pd.DataFrame(results)

In [3]:
users_properties = extract_users()

users_properties

,Newsletter,Type,Country,Language,ProfileType2,ReceiveNewsletter,LoggedIn,Products_Sesame_Street_Numbers,Products_Smart_Shapes,Products_Smart_Numbers,...,Games_Marbotic_Letters,Games_More_Or_Less,Games_Marbotic,Games_Vocabubble,event_id,client_event_time,user_creation_time,user_id,id,Products_Sensory_kit
0,False,Teacher,LU,English,None,None,None,0,0,0,...,0,0,0,0,1,2022-03-03 10:17:33.279000+00:00,2022-03-03 10:15:15.799000+00:00,0,38695,NaN
1,False,Teacher,LU,English,None,None,None,0,0,0,...,0,0,0,0,2,2022-03-03 10:17:33.279000+00:00,2022-03-03 10:15:15.799000+00:00,0,38696,NaN
2,False,Parent,AT,English,None,None,None,0,0,0,...,0,0,0,0,9,2022-03-04 18:10:45.671000+00:00,2021-05-12 14:48:12.149000+00:00,0,70424,NaN
3,False,Parent,AT,English,None,None,None,0,0,0,...,0,0,0,0,1,2022-03-04 18:09:42.747000+00:00,2021-05-12 14:48:12.149000+00:00,0,70686,NaN
4,False,Parent,AT,English,None,None,None,0,0,0,...,0,0,0,0,2,2022-03-04 18:09:42.748000+00:00,2021-05-12 14:48:12.149000+00:00,0,70687,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1320224,True,Parent,CA,English,None,None,None,0,1,0,...,1,1,1,1,122,2022-05-13 00:03:46.899000+00:00,2021-10-12 00:49:57.340000+00:00,63728,1313882,0.0
1320225,True,Parent,CA,English,None,None,None,0,1,0,...,1,1,1,1,123,2022-05-13 00:03:58.233000+00:00,2021-10-12 00:49:57.340000+00:00,63728,1313883,0.0
1320226,True,Parent,CA,English,None,None,None,0,1,0,...,1,1,1,1,102,2022-05-13 00:00:35.906000+00:00,2021-10-12 00:49:57.340000+00:00,63728,1313884,0.0
1320227,True,Parent,CA,English,None,None,None,0,1,0,...,1,1,1,1,127,2022-05-13 00:05:47.672000+00:00,2021-10-12 00:49:57.340000+00:00,63728,1313885,0.0
1320228,False,Teacher,CH,English,None,None,None,0,0,0,...,1,1,1,1,21,2022-05-13 06:41:11.343000+00:00,2021-11-09 10:31:37.463000+00:00,65019,1317031,0.0

In [6]:
user_id = extract_user_id()

user_id

,User_id,Attribution,Purchases_PY1Y,Purchases_PLY,Purchases_MEGR,Purchases_PLM,Purchases_ME1,Purchases_EY3M,Purchases_tier_upgrade_0_to_1,Purchases_PM3M,Purchases_MPGR,Purchases_EY1Y,Purchases_PY3M,purchases
0,71631,ELU,0,0,NaN,0,0,0,0,0,NaN,0,0,False
1,73665,ERU,0,0,NaN,0,0,0,0,0,NaN,0,0,False
2,73414,ERU,0,0,NaN,0,0,0,0,0,NaN,0,0,False
3,16477,ERU,0,0,NaN,0,0,0,0,0,NaN,0,0,False
4,17709,ERU,0,0,NaN,0,0,0,0,0,NaN,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13674,69765,PPU,0,0,0.0,0,0,0,1,0,0.0,0,0,True
13675,69860,PPU,0,0,0.0,0,0,0,1,0,0.0,0,0,True
13676,70095,ELU,0,0,0.0,0,0,1,0,0,0.0,0,0,True
13677,50495,PPU,0,0,0.0,0,0,0,1,0,0.0,0,0,True
13678,69697,PPU,0,0,0.0,0,0,0,1,0,0.0,0,0,True

In [42]:
user_id.nunique()

User_id                          12858
Attribution                         14
Purchases_PY1Y                       2
Purchases_PLY                        2
Purchases_MEGR                       2
Purchases_PLM                        2
Purchases_ME1                        2
Purchases_EY3M                       2
Purchases_tier_upgrade_0_to_1        2
Purchases_PM3M                       2
Purchases_MPGR                       2
Purchases_EY1Y                       2
Purchases_PY3M                       2
purchases                            2
dtype: int64

In [9]:
user_metrics = extract_user_metrics()

user_metrics

,user_id,client_event_time,city,language,os_version,region,country,device_model,start_version,user_creation_time,...,event_type_Profile_Delete,event_type_Profile_Reset_Settings_and_Progression,event_type_Profile_Update,event_type_Scaffolding_Reset,event_type_Scaffolding_Scaffolding,event_type_Scene_Enter,event_type_Scene_Leave,event_type_Toast_Appear,event_type_Toast_Disappear,purchases
0,72041.0,2022-04-01 20:45:46.891000+00:00,no_city,English,12.5.5,no_region,Iran,iPad Air,1.3.0,2022-04-01 20:03:09.286000+00:00,...,0.0,0.0,0.0,0.0,0.0,221.0,0.0,0.0,0.0,False
1,73163.0,2022-05-11 23:24:04.316000+00:00,no_city,English,15.2.1,no_region,Iran,iPad 5,2.0.6,2022-05-11 23:07:26.914000+00:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,False
2,72030.0,2022-04-01 22:16:47.193000+00:00,Muscat,English,15.4.1,Muscat,Oman,iPad 6,1.3.0,2022-04-01 11:54:18.680000+00:00,...,0.0,0.0,0.0,0.0,0.0,23.0,9.0,0.0,0.0,False
3,65828.0,2022-04-06 23:52:57.543000+00:00,Lima,English,15.3.1,Lima,Peru,iPad Pro,1.0.1,2021-11-25 21:14:53.544000+00:00,...,0.0,0.0,0.0,0.0,0.0,14.0,7.0,0.0,0.0,False
4,71928.0,2022-04-09 01:00:45.402000+00:00,Lima,English,14.8.1,Lima,Peru,iPad Mini 5,1.3.0,2022-03-29 16:44:39.174000+00:00,...,0.0,0.0,0.0,0.0,0.0,27.0,7.0,0.0,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,50624.0,2022-04-09 10:14:52.893000+00:00,Dubai,English,14.8.1,Dubai,United Arab Emirates,"iPad11,6",9.1.0,2020-12-29 06:54:15.901000+00:00,...,0.0,0.0,0.0,0.0,0.0,35.0,45.0,0.0,0.0,False
2622,54360.0,2022-03-20 14:16:22.446000+00:00,Dubai,English,15.3.1,Dubai,United Arab Emirates,iPad Air 2,1.2.0,2021-02-23 12:34:34.944000+00:00,...,0.0,0.0,0.0,0.0,0.0,91.0,21.0,0.0,0.0,False
2623,72655.0,2022-04-22 16:11:00.120000+00:00,Ras al-Khaimah,English,14.8.1,Imarat Ra's al Khaymah,United Arab Emirates,iPad Air 3,4.0.1,2020-10-07 07:40:55.047000+00:00,...,0.0,0.0,0.0,0.0,0.0,42.0,19.0,0.0,0.0,False
2624,18557.0,2022-04-05 04:57:37.838000+00:00,Dubai,Spanish,12.5.5,Dubai,United Arab Emirates,iPad Air,1.3.0,2022-04-03 06:36:36.939000+00:00,...,0.0,0.0,0.0,0.0,0.0,7.0,1.0,0.0,0.0,False
2625,26443.0,2022-04-24 13:45:39.873000+00:00,Dubai,English,15.3.1,Dubai,United Arab Emirates,iPad Pro,2.0.4,2022-04-24 10:39:35.922000+00:00,...,0.0,0.0,0.0,0.0,0.0,139.0,0.0,0.0,0.0,False

# Preparing users_properties for merge (1.3m lines, to group by user_id)

In [11]:
users_properties.columns

Index(['Newsletter', 'Type', 'Country', 'Language', 'ProfileType2',
       'ReceiveNewsletter', 'LoggedIn', 'Products_Sesame_Street_Numbers',
       'Products_Smart_Shapes', 'Products_Smart_Numbers',
       'Products_Smart_Letters', 'Products_Deluxe_Learning_Kit',
       'Products_Nordic_Kit', 'Products_Smart_Letters_Lowercase',
       'Products_Smart_Kit', 'Pieces_Uppercase_Letters',
       'Pieces_Lowercase_Letters', 'Pieces_Sesame_Street_Numbers',
       'Pieces_Numbers', 'Pieces_English', 'Pieces_Nordic_Letters',
       'Pieces_Shapes', 'Games_Marbotic_Numbers', 'Games_Alphamonster',
       'Games_10_Fingers', 'Games_Lil_Reader', 'Games_Bla_Bla_Box',
       'Games_Sesame_Street_Numbers', 'Games_Up_To_100', 'Games_Smart_Shapes',
       'Games_Marbotic_Letters', 'Games_More_Or_Less', 'Games_Marbotic',
       'Games_Vocabubble', 'event_id', 'client_event_time',
       'user_creation_time', 'user_id', 'id', 'Products_Sensory_kit'],
      dtype='object')

ProfileType2 Count_user_id: null 1290926, Teacher 1871, Customer 2101, Parent 2446, Visitor 548

Type	Count_user_id: Teacher 283263, Parent 1014629

In [12]:
users_properties = users_properties.drop(columns = ["Country","Language","Newsletter","ReceiveNewsletter","LoggedIn","ProfileType2","event_id","user_creation_time","id"])

In [13]:
users_properties.shape

(1320229, 31)

In [28]:
list_to_group = list(users_properties.columns)
list_to_group.remove("client_event_time")
list_to_group

['Type',
 'Products_Sesame_Street_Numbers',
 'Products_Smart_Shapes',
 'Products_Smart_Numbers',
 'Products_Smart_Letters',
 'Products_Deluxe_Learning_Kit',
 'Products_Nordic_Kit',
 'Products_Smart_Letters_Lowercase',
 'Products_Smart_Kit',
 'Pieces_Uppercase_Letters',
 'Pieces_Lowercase_Letters',
 'Pieces_Sesame_Street_Numbers',
 'Pieces_Numbers',
 'Pieces_English',
 'Pieces_Nordic_Letters',
 'Pieces_Shapes',
 'Games_Marbotic_Numbers',
 'Games_Alphamonster',
 'Games_10_Fingers',
 'Games_Lil_Reader',
 'Games_Bla_Bla_Box',
 'Games_Sesame_Street_Numbers',
 'Games_Up_To_100',
 'Games_Smart_Shapes',
 'Games_Marbotic_Letters',
 'Games_More_Or_Less',
 'Games_Marbotic',
 'Games_Vocabubble',
 'user_id',
 'Products_Sensory_kit']

In [15]:
user_products_and_game = pd.DataFrame(users_properties.groupby("user_id").max()["client_event_time"])
user_products_and_game

/tmp/ipykernel_1720/1271338037.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  user_products_and_game = pd.DataFrame(users_properties.groupby("user_id").max()["client_event_time"])

                       client_event_time
user_id
0       2022-05-13 09:51:34.834000+00:00
211     2022-03-13 13:32:14.916000+00:00
274     2022-05-01 17:44:50.615000+00:00
453     2022-03-19 21:37:36.833000+00:00
564     2022-04-23 15:37:54.445000+00:00
...                                  ...
73184   2022-05-12 16:33:26.489000+00:00
73185   2022-05-12 17:04:58.087000+00:00
73188   2022-05-12 23:13:13.334000+00:00
73197   2022-05-13 09:25:19.784000+00:00
73198   2022-05-13 09:55:59.033000+00:00

[2627 rows x 1 columns]

In [26]:
user_products_and_game = user_products_and_game.reset_index()
user_products_and_game

      user_id                client_event_time
0           0 2022-05-13 09:51:34.834000+00:00
1         211 2022-03-13 13:32:14.916000+00:00
2         274 2022-05-01 17:44:50.615000+00:00
3         453 2022-03-19 21:37:36.833000+00:00
4         564 2022-04-23 15:37:54.445000+00:00
...       ...                              ...
2622    73184 2022-05-12 16:33:26.489000+00:00
2623    73185 2022-05-12 17:04:58.087000+00:00
2624    73188 2022-05-12 23:13:13.334000+00:00
2625    73197 2022-05-13 09:25:19.784000+00:00
2626    73198 2022-05-13 09:55:59.033000+00:00

[2627 rows x 2 columns]

In [29]:
# Group by user_id and select only the information for the last client_event_time
grouping =users_properties.loc[users_properties.groupby("user_id")["client_event_time"].idxmax()]
grouping = grouping[list_to_group]
user_products_pieces_games = grouping.merge(user_products_and_game,on="user_id",how='inner')
user_products_pieces_games

,Type,Products_Sesame_Street_Numbers,Products_Smart_Shapes,Products_Smart_Numbers,Products_Smart_Letters,Products_Deluxe_Learning_Kit,Products_Nordic_Kit,Products_Smart_Letters_Lowercase,Products_Smart_Kit,Pieces_Uppercase_Letters,...,Games_Sesame_Street_Numbers,Games_Up_To_100,Games_Smart_Shapes,Games_Marbotic_Letters,Games_More_Or_Less,Games_Marbotic,Games_Vocabubble,user_id,Products_Sensory_kit,client_event_time
0,None,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,2022-05-13 09:51:34.834000+00:00
1,Parent,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,1,211,NaN,2022-03-13 13:32:14.916000+00:00
2,Parent,1,0,0,1,0,0,0,0,1,...,1,0,0,0,0,1,0,274,0.0,2022-05-01 17:44:50.615000+00:00
3,Parent,1,1,0,0,1,1,0,0,0,...,1,1,1,1,0,1,0,453,NaN,2022-03-19 21:37:36.833000+00:00
4,Teacher,1,0,0,1,0,0,1,0,0,...,1,0,0,1,0,1,0,564,0.0,2022-04-23 15:37:54.445000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,Teacher,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,73184,0.0,2022-05-12 16:33:26.489000+00:00
2623,Parent,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,1,0,73185,0.0,2022-05-12 17:04:58.087000+00:00
2624,Parent,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,73188,1.0,2022-05-12 23:13:13.334000+00:00
2625,Teacher,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,73197,0.0,2022-05-13 09:25:19.784000+00:00
2626,Parent,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,1,0,73198,0.0,2022-05-13 09:55:59.033000+00:00

In [30]:
user_products_pieces_games = user_products_pieces_games.drop(columns = "client_event_time")

In [31]:
user_products_pieces_games

,Type,Products_Sesame_Street_Numbers,Products_Smart_Shapes,Products_Smart_Numbers,Products_Smart_Letters,Products_Deluxe_Learning_Kit,Products_Nordic_Kit,Products_Smart_Letters_Lowercase,Products_Smart_Kit,Pieces_Uppercase_Letters,...,Games_Bla_Bla_Box,Games_Sesame_Street_Numbers,Games_Up_To_100,Games_Smart_Shapes,Games_Marbotic_Letters,Games_More_Or_Less,Games_Marbotic,Games_Vocabubble,user_id,Products_Sensory_kit
0,None,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1,Parent,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,1,211,NaN
2,Parent,1,0,0,1,0,0,0,0,1,...,0,1,0,0,0,0,1,0,274,0.0
3,Parent,1,1,0,0,1,1,0,0,0,...,0,1,1,1,1,0,1,0,453,NaN
4,Teacher,1,0,0,1,0,0,1,0,0,...,0,1,0,0,1,0,1,0,564,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,Teacher,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,73184,0.0
2623,Parent,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,1,0,73185,0.0
2624,Parent,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,73188,1.0
2625,Teacher,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,73197,0.0
2626,Parent,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,73198,0.0

# Preparing user_id table for merge, grouping on user_id

# Merging the 3 tables on user_id

In [40]:
user_final = user_metrics.merge(user_products_pieces_games, on="user_id", how='left')

user_final

,user_id,client_event_time,city,language,os_version,region,country,device_model,start_version,user_creation_time,...,Games_Lil_Reader,Games_Bla_Bla_Box,Games_Sesame_Street_Numbers,Games_Up_To_100,Games_Smart_Shapes,Games_Marbotic_Letters,Games_More_Or_Less,Games_Marbotic,Games_Vocabubble,Products_Sensory_kit
0,72041.0,2022-04-01 20:45:46.891000+00:00,no_city,English,12.5.5,no_region,Iran,iPad Air,1.3.0,2022-04-01 20:03:09.286000+00:00,...,0,0,0,0,0,0,0,1,0,0.0
1,73163.0,2022-05-11 23:24:04.316000+00:00,no_city,English,15.2.1,no_region,Iran,iPad 5,2.0.6,2022-05-11 23:07:26.914000+00:00,...,0,0,0,0,0,0,0,1,0,0.0
2,72030.0,2022-04-01 22:16:47.193000+00:00,Muscat,English,15.4.1,Muscat,Oman,iPad 6,1.3.0,2022-04-01 11:54:18.680000+00:00,...,0,0,0,0,0,0,0,1,0,0.0
3,65828.0,2022-04-06 23:52:57.543000+00:00,Lima,English,15.3.1,Lima,Peru,iPad Pro,1.0.1,2021-11-25 21:14:53.544000+00:00,...,0,0,0,0,0,0,0,1,0,0.0
4,71928.0,2022-04-09 01:00:45.402000+00:00,Lima,English,14.8.1,Lima,Peru,iPad Mini 5,1.3.0,2022-03-29 16:44:39.174000+00:00,...,0,0,0,0,0,0,0,1,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2621,50624.0,2022-04-09 10:14:52.893000+00:00,Dubai,English,14.8.1,Dubai,United Arab Emirates,"iPad11,6",9.1.0,2020-12-29 06:54:15.901000+00:00,...,1,1,0,1,0,1,1,1,1,0.0
2622,54360.0,2022-03-20 14:16:22.446000+00:00,Dubai,English,15.3.1,Dubai,United Arab Emirates,iPad Air 2,1.2.0,2021-02-23 12:34:34.944000+00:00,...,0,1,0,0,0,1,0,1,1,NaN
2623,72655.0,2022-04-22 16:11:00.120000+00:00,Ras al-Khaimah,English,14.8.1,Imarat Ra's al Khaymah,United Arab Emirates,iPad Air 3,4.0.1,2020-10-07 07:40:55.047000+00:00,...,0,0,0,0,0,0,0,1,0,0.0
2624,18557.0,2022-04-05 04:57:37.838000+00:00,Dubai,Spanish,12.5.5,Dubai,United Arab Emirates,iPad Air,1.3.0,2022-04-03 06:36:36.939000+00:00,...,0,0,0,0,0,0,0,1,0,0.0
2625,26443.0,2022-04-24 13:45:39.873000+00:00,Dubai,English,15.3.1,Dubai,United Arab Emirates,iPad Pro,2.0.4,2022-04-24 10:39:35.922000+00:00,...,1,1,0,1,0,0,1,1,1,0.0

In [37]:
user_final.columns

Index(['user_id', 'client_event_time_x', 'city', 'language', 'os_version',
       'region', 'country', 'device_model', 'start_version',
       'user_creation_time', 'id', 'session_id', 'event_type_Account_Sign_In',
       'event_type_Account_Sign_Out', 'event_type_Account_Sign_Up',
       'event_type_Account_Update_Request',
       'event_type_Account_Update_Success', 'event_type_Action_Click',
       'event_type_Action_ConversionClickRedeem',
       'event_type_Action_ConversionClickSubscribe',
       'event_type_Activation_Game', 'event_type_Activation_New_Activation',
       'event_type_Activation_Piece', 'event_type_Activation_Product',
       'event_type_Activity_Good_Answer', 'event_type_Activity_Start',
       'event_type_Activity_Stop', 'event_type_Activity_Wrong_Answer',
       'event_type_Error_Error', 'event_type_Game_Pause',
       'event_type_Game_Start', 'event_type_Game_Stop',
       'event_type_OB_ClickStore', 'event_type_OB_ClickTrial',
       'event_type_OB_CommPreview', 'event_type_OB_DiscoverTrial',
       'event_type_OB_DoYouHaveKit', 'event_type_OB_Email',
       'event_type_OB_HasKeyNo', 'event_type_OB_HasKitNo',
       'event_type_OB_HasKitYes', 'event_type_OB_KeyFail',
       'event_type_OB_KeyRedeem', 'event_type_OB_KeySuccess',
       'event_type_OB_ProductActivation', 'event_type_OB_ProductHelp',
       'event_type_OB_ProductOther', 'event_type_OB_ProductSK',
       'event_type_OB_ProductSeeMore', 'event_type_OB_ProductSelection',
       'event_type_OB_ProfileBirthdate', 'event_type_OB_ProfileName',
       'event_type_OB_RenewalFail', 'event_type_OB_RenewalSelection',
       'event_type_OB_RenewalSuccess', 'event_type_OB_Success',
       'event_type_OB_TrialStart', 'event_type_OB_Type',
       'event_type_OB_VerifCode', 'event_type_Popup_Close',
       'event_type_Popup_Open', 'event_type_Profile_Create',
       'event_type_Profile_Delete',
       'event_type_Profile_Reset_Settings_and_Progression',
       'event_type_Profile_Update', 'event_type_Scaffolding_Reset',
       'event_type_Scaffolding_Scaffolding', 'event_type_Scene_Enter',
       'event_type_Scene_Leave', 'event_type_Toast_Appear',
       'event_type_Toast_Disappear', 'purchases', 'client_event_time_y'],
      dtype='object')